
html, body {
  margin: 0 0 0 0;
  height: 100%;
  color: black;
  min-width: 600px;
  min-height: 500px;
  background-color: black;
}


.firstBox{
  background-color: rgb(122, 163, 251);
  justify-content: center;
  text-align: center;
  color: white;
  transition: all 0.5s;
}

.tittle{
  text-transform: uppercase;
  font-family: 'Ubuntu', sans-serif;
  font-size: 200%;
  margin: 0px 0px 0px 0px;
}

.color{
  text-transform: uppercase;
  font-family: 'Ubuntu', sans-serif;
  font-size: 300%;
  margin: 0 0 0 0;
  transition: all 0.5s;
}

.secondBox{
  text-align: center;
  background-color: white;
  min-width: 100%;
  min-height: 5%;
  height: 5%;
  margin: 0 auto;
}

.msg {
  font-family: 'Ubuntu', sans-serif;
  display: inline-block;
  width: 30%;
  max-width: 300px;
}

.button{
  background-color: white;
  color: rgb(122, 163, 251);
  font-family: 'Ubuntu', sans-serif;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: bold;
  border: none;
  outline: none;
  height: 100%;
  transition: all 0.3s;
}

.selected {
  background-color: rgb(122, 163, 251);
  color: white;
}

.thirdBox {
  width: 500px;
  height: 500px; /*percentual requer parente de tamnanho definido*/
  margin: 0 auto;
}

.pallet {
  background-color: white;
  float: left;  /*depende do bloco parente*/
  width: 30%;   /*tactica do 100%*/
  height: 30%;
  margin: 1.66%;/*tatica do 100%*/
  border-radius: 20px;
  border: none;
  outline: none;/*remove outline do botao qnd clicado*/
  transition: all 0.5s;
}
