h1 {
  text-align: center;
}

table, td {
  border: 2px black solid;
  border-collapse: collapse;
  margin: auto;
}

tr:first-of-type{
  border-top-style: hidden;
}

tr:last-of-type{
  border-bottom-style: hidden;
}

td:first-child{
  border-left-style: hidden;
}

td:last-child{
  border-right-style: hidden;
}

td {
  width: 60px;
  height: 60px;
  padding: 20px;
}
